[kafka]
kafka_servers = <redpanda>
topic = <topic>
group_id = <group_id>
username = <user>
password = <passwd>

[redis]
host = redis
port = 6379
ttl = 15778800  # 6 Months

[42api]
uid = <API42-UID-key>
secret = <API42-Top-Secret-Do_no_push_me>

[path]
custom = <where json files?>
mp3 = <where mp3 files?>
logs = <where logs?>

[building]
name = <where>

[purgeapi]
token = <Put a random token here>

[welcome]
message1 = Bonjour <name>
message2 = Bienvenue <name>
message3 = Salut <name>
message4 = Bonsoir <name>
message5 = Wesh wesh <name> bien ou bien?
message6 = Coucou <name>
message7 = Yo <name> tu va bien?
message8 = Salut <name> tu nous a grave manquer
message9 = Hello <name>

[goodbye]
message1 = Au revoir <name>
message2 = A bientot <name>
message3 = Adieu <name>
message4 = A la revoyure <name>
message5 = Reviens vite <name>
message6 = Bonsoir <name>
message7 = Tu va nous manquer <name>
message8 = Bon courrage <name>
message9 = Tchao <name>